@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@layer base {

  .active_link {
    @apply text-secondary relative flex-1;
    content: '';
    position: absolute;
    bottom: -0.75rem;
    right: 0;
    height: 0.0625rem;
    background-color: var(--secondary);
    width: 100%;
  }

  .h1 {
    @apply mb-8 font-bold;
    font-size: 3rem; /* 48px */
    line-height: 1.2;
    @screen md {
      font-size: 4.5rem; /* 72px */
      line-height: 1.3;
    }
  }

  .h2 {
    @apply mb-4 font-bold;
    font-size: 2.5rem; /* 40px */
    line-height: 1.2;
    @screen md {
      font-size: 3.4375rem; /* 55px */
      line-height: 1.3;
    }
  }

  .h3 {
    @apply mb-4 font-semibold;
    font-size: 2rem; /* 32px */
    line-height: 1.2;
    @screen md {
      font-size: 2.25rem; /* 36px */
      line-height: 1.3;
    }
  }

  p {
    @apply text-gray-30;
    font-size: 0.9375rem; /* 15px */
    line-height: 1.3;
  }
}

@layer utilities {

  .btn_secondary_rounded {
    @apply border border-secondary bg-secondary text-white transition-all rounded-full;
    font-size: 0.9375rem; /* 15px */
    padding: 0.75rem 1.75rem;
    &:hover {
      background-color: var(--secondary-hover);
    }
  }

  .max-container {
    @apply mx-auto;
    max-width: 90rem; /* 1440px */
  }

  .padding-container {
    @apply px-6;
    @screen lg {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .max_padd_container {
    @apply mx-auto px-6;
    max-width: 90rem; /* 1440px */
    @screen lg {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply font-normal;
    font-size: 4rem; /* 64px */
    line-height: 1.2;
  }

  .regular-52 {
    @apply font-normal;
    font-size: 3.25rem; /* 52px */
    line-height: 1.2;
  }

  .regular-48 {
    @apply font-normal;
    font-size: 3rem; /* 48px */
    line-height: 1.2;
  }

  .regular-40 {
    @apply font-normal;
    font-size: 2.5rem; /* 40px */
    line-height: 1.2;
  }

  .regular-32 {
    @apply font-normal;
    font-size: 2rem; /* 32px */
  }

  .regular-28 {
    @apply font-normal;
    font-size: 1.75rem; /* 28px */
  }

  .regular-24 {
    @apply font-normal;
    font-size: 1.5rem; /* 24px */
  }

  .regular-20 {
    @apply font-normal;
    font-size: 1.25rem; /* 20px */
  }

  .regular-18 {
    @apply font-normal;
    font-size: 1.125rem; /* 18px */
  }

  .regular-16 {
    @apply font-normal;
    font-size: 1rem; /* 16px */
  }

  .regular-15 {
    @apply font-normal;
    font-size: 0.9375rem; /* 15px */
  }

  .regular-14 {
    @apply font-normal;
    font-size: 0.875rem; /* 14px */
  }

  .medium-24 {
    @apply font-semibold;
    font-size: 1.5rem; /* 24px */
  }

  .medium-22 {
    @apply font-semibold;
    font-size: 1.375rem; /* 22px */
  }

  .medium-20 {
    @apply font-semibold;
    font-size: 1.25rem; /* 20px */
  }

  .medium-18 {
    @apply font-semibold;
    font-size: 1.125rem; /* 18px */
  }

  .medium-16 {
    @apply font-semibold;
    font-size: 1rem; /* 16px */
  }

  .medium-15 {
    @apply font-semibold;
    font-size: 0.9375rem; /* 15px */
  }

  .medium-14 {
    @apply font-semibold;
    font-size: 0.875rem; /* 14px */
  }

  .bold-88 {
    @apply font-bold;
    font-size: 5.5rem; /* 88px */
    line-height: 1.2;
  }

  .bold-64 {
    @apply font-bold;
    font-size: 4rem; /* 64px */
    line-height: 1.2;
  }

  .bold-52 {
    @apply font-bold;
    font-size: 3.25rem; /* 52px */
    line-height: 1.2;
  }

  .bold-48 {
    @apply font-bold;
    font-size: 3rem; /* 48px */
    line-height: 1.2;
  }

  .bold-44 {
    @apply font-bold;
    font-size: 2.75rem; /* 44px */
    line-height: 1.2;
  }

  .bold-40 {
    @apply font-bold;
    font-size: 2.5rem; /* 40px */
    line-height: 1.2;
  }

  .bold-36 {
    @apply font-bold;
    font-size: 2.25rem; /* 36px */
    line-height: 1.2;
  }

  .bold-32 {
    @apply font-bold;
    font-size: 2rem; /* 32px */
    line-height: 1.2;
  }

  .bold-28 {
    @apply font-bold;
    font-size: 1.75rem; /* 28px */
    line-height: 1.2;
  }

  .bold-22 {
    @apply font-bold;
    font-size: 1.375rem; /* 22px */
  }

  .bold-20 {
    @apply font-bold;
    font-size: 1.25rem; /* 20px */
  }

  .bold-18 {
    @apply font-bold;
    font-size: 1.125rem; /* 18px */
  }

  .bold-16 {
    @apply font-bold;
    font-size: 1rem; /* 16px */
  }

  .bold-15 {
    @apply font-bold;
    font-size: 0.9375rem; /* 15px */
  }
}
